In [1]:
import pandas as pd
df = pd.DataFrame({'year': [2015, 2016],
                       'month': [2, 3],
                       'day': [4, 5]})

In [2]:
df

   day  month  year
0    4      2  2015
1    5      3  2016

In [3]:
df = pd.DataFrame({'year': [2015, 2016, 2017],
                       'month': [2, 3,4],
                       'day': [4, 5,11]})

In [4]:
df

   day  month  year
0    4      2  2015
1    5      3  2016
2   11      4  2017

In [5]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
2   2017-04-11
dtype: datetime64[ns]

In [6]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

datetime.datetime(1300, 1, 1, 0, 0)

In [7]:
df

   day  month  year
0    4      2  2015
1    5      3  2016
2   11      4  2017

In [11]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
2   2017-04-11
dtype: datetime64[ns]

In [12]:
data = pd.to_datetime(df)

In [13]:
data

0   2015-02-04
1   2016-03-05
2   2017-04-11
dtype: datetime64[ns]

In [16]:
s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

In [18]:
s.head()

0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

In [27]:
df = pd.DataFrame({'year': [2015, 2016, 2017],
                       'month': [2, 3,4],
                       'day': [4, 5,11]})

In [28]:
df

   day  month  year
0    4      2  2015
1    5      3  2016
2   11      4  2017

In [29]:
df[~(df == 2) & (df // 2 == 0) | (df // 6 != 0)]

    day  month  year
0   NaN    NaN  2015
1   NaN    NaN  2016
2  11.0    NaN  2017

In [31]:
df.dropna()

   day  month  year
0    4      2  2015
1    5      3  2016
2   11      4  2017

In [32]:
df2 = df[~(df == 2) & (df // 2 == 0) | (df // 6 != 0)]

In [33]:
df2

    day  month  year
0   NaN    NaN  2015
1   NaN    NaN  2016
2  11.0    NaN  2017

In [34]:
df2.dropna()

Empty DataFrame
Columns: [day, month, year]
Index: []

In [35]:
df = pd.DataFrame({'year': [2015, 2016, 2017],
                       'month': [2, 3,4],
                       'day': [4, 5,11]})

In [ ]:
df2 = df[~(df == 2) & (df // 2 == 0) | (df // 6 != 0)]

In [ ]:
df['deadline] = (df['year'] >= curr_year) & и т.д.).atype(int)

In [2]:
import pandas as pd
Deadline = pd.DataFrame({"source": ["name", "name", "Министерство_обороны","name","name",
                                    "name","name", "name", "name","name", "name", "name"],
                   "quest": ["name", "name", "Строительство_Варп_Портала","name","name",
                             "name","name", "name", "name","name", "name", "name"],
                   "order":["name", "name", "Федеральный_закон","name","name",
                            "name","name", "name", "name","name", "name", "name"],                   
                   "unit": ["name", "name", "Легионы_хаоса","name","name",
                            "name","name", "name", "name","name", "name", "name"],
                   "hero": ["name", "name", "Няшка_Хорус","name","name",
                            "name","name", "name", "name","name", "name", "name"],
                   "deadline": ["name", "name", "Вчера","name","name",
                                "name","name", "name", "name","name", "name", "name"],
                   'source_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'source_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'source_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'quest_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'quest_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'quest_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'order_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'order_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'order_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'unit_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'unit_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'unit_day': [2,5,19,23,30,29,28,10,14,1,2,11],
                   'hero_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'hero_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'hero_day': [1,4,19,23,30,29,28,10,14,1,2,11],
                   'deadline_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'deadline_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'deadline_day': [4, 5,18,23,30,29,28,10,14,1,2,11],
                  })
Deadline = Deadline[['source','source_year','source_month','source_day',"quest",
                     'quest_year','quest_month','quest_day',"order",'order_year',
                     'order_month', 'order_day', "unit",'unit_year', 'unit_month',
                     'unit_day',"hero",'hero_year','hero_month','hero_day',"deadline",
                     'deadline_year','deadline_month','deadline_day']]
Deadline

,source,source_year,source_month,source_day,quest,quest_year,quest_month,quest_day,order,order_year,...,unit_month,unit_day,hero,hero_year,hero_month,hero_day,deadline,deadline_year,deadline_month,deadline_day
0,name,2015,2,4,name,2015,2,4,name,2015,...,2,2,name,2015,2,1,name,2015,2,4
1,name,2016,3,5,name,2016,3,5,name,2016,...,3,5,name,2016,3,4,name,2016,3,5
2,Министерство_обороны,2017,10,19,Строительство_Варп_Портала,2017,10,19,Федеральный_закон,2017,...,10,19,Няшка_Хорус,2017,10,19,Вчера,2017,10,18
3,name,2011,2,23,name,2011,2,23,name,2011,...,2,23,name,2011,2,23,name,2011,2,23
4,name,2017,3,30,name,2017,3,30,name,2017,...,3,30,name,2017,3,30,name,2017,3,30
5,name,2017,4,29,name,2017,4,29,name,2017,...,4,29,name,2017,4,29,name,2017,4,29
6,name,2011,5,28,name,2011,5,28,name,2011,...,5,28,name,2011,5,28,name,2011,5,28
7,name,2014,12,10,name,2014,12,10,name,2014,...,12,10,name,2014,12,10,name,2014,12,10
8,name,2011,8,14,name,2011,8,14,name,2011,...,8,14,name,2011,8,14,name,2011,8,14
9,name,2022,10,1,name,2022,10,1,name,2022,...,10,1,name,2022,10,1,name,2022,10,1
10,name,2009,11,2,name,2009,11,2,name,2009,...,11,2,name,2009,11,2,name,2009,11,2
11,name,2021,12,11,name,2021,12,11,name,2021,...,12,11,name,2021,12,11,name,2021,12,11

In [39]:
df['deadline'] = (df['year'] >= curr_year) & (df['month']>= curr_year & (df['day'] >= curr_year)).atype(int)

NameError: name 'curr_year' is not defined

In [6]:
import datetime as dt     
date = dt.date.today
print(date)

<built-in method today of type object at 0x00000000575397B0>

In [7]:
date = dt.date.today()

In [8]:
date

datetime.date(2017, 10, 22)

In [9]:
curr_year = date

In [45]:
df['deadline'] = (df['year'] >= curr_year) & (df['month']>= curr_year & (df['day'] >= curr_year)).atype(int)

TypeError: '>=' not supported between instances of 'int' and 'datetime.date'

In [46]:
df['deadline'] = (df['year'] > curr_year) & (df['month']> curr_year & (df['day'] > curr_year)).atype(int)

TypeError: '>' not supported between instances of 'int' and 'datetime.date'

In [48]:
pd.to_datetime(df['year'])

0   1970-01-01 00:00:00.000002015
1   1970-01-01 00:00:00.000002016
2   1970-01-01 00:00:00.000002017
Name: year, dtype: datetime64[ns]

In [49]:
df['deadline'] = (df['year'] > curr_year) & (df['month']> curr_year & (df['day'] > curr_year)).atype(int)

TypeError: '>' not supported between instances of 'int' and 'datetime.date'

In [50]:
pd.to_datetime(df['month'])

0   1970-01-01 00:00:00.000000002
1   1970-01-01 00:00:00.000000003
2   1970-01-01 00:00:00.000000004
Name: month, dtype: datetime64[ns]

In [51]:
pd.to_datetime(df['day'])

0   1970-01-01 00:00:00.000000004
1   1970-01-01 00:00:00.000000005
2   1970-01-01 00:00:00.000000011
Name: day, dtype: datetime64[ns]

In [52]:
df['deadline'] = (df['year'] > curr_year) & (df['month']> curr_year & (df['day'] > curr_year)).atype(int)

TypeError: '>' not supported between instances of 'int' and 'datetime.date'

In [53]:
pd.to_datetime(df['year'],df['month'], df['day'] )

J:\HiEnd\StandAloneComplex\lib\site-packages\pandas\core\ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [ ]:
[In reply to Sadness is everything]
df['new col'] = df['col'].apply( сюда скармливаешь функцию возвращающую true/false )

Либо df['col'].map( словарь со значениями true/false)

Ну и логические операторы можно стакать
df[~(df == 2) & (df // 2 == 0) | (df // 6 != 0)]

Для удобства ещё обычно добавляют в конце .astype(int). Чтоб 0 и 1 было.

Если же ты про то откуда churn, то его руками размечают ассесоры, которые готовят данные.

написать Churn стоит денег Но часто используется обучение без учителя, 
где методами машинного обучения предсказывают категории. См. задачи кластеризации.

Ну тут я так понимаю что-то вида:
df['target'] = (df['deadline] & (df['year'] >= curr_year) & и т.д.).atype(int)
                   
Но лучше работать сразу с датой одной колонкой. Причем df['timestamp'].apply(pd.to_datetime)
                   
[In reply to Sadness is everything]
Да можно, тогда из того что выше будет:

zOmgwtfbbq:
Ну тут я так понимаю что-то вида:
df['deadline] = (df['year'] >= curr_year) & и т.д.).atype(int)
   
[In reply to Sadness is everything]
Тогда достаточно размечать связкой логических операторов через &. Но из постановки задачи рекомендую преобразовать 
   три столбца
в один типа datetime. Там много плюшек для работы со временем   
   
Можно сравнивать с now например

In [58]:
Deadline['deadline'] = pd.to_datetime(Deadline['deadline'])

ValueError: Unknown string format

In [59]:
Deadline

,source,source_year,source_month,source_day,quest,quest_year,quest_month,quest_day,order,order_year,...,unit_month,unit_day,hero,hero_year,hero_month,hero_day,deadline,deadline_year,deadline_month,deadline_day
0,name,2015,2,4,name,2015,2,4,name,2015,...,2,2,name,2015,2,1,name,2015,2,4
1,name,2016,3,5,name,2016,3,5,name,2016,...,3,5,name,2016,3,4,name,2016,3,5
2,Министерство_обороны,2017,10,19,Строительство_Варп_Портала,2017,10,19,Федеральный_закон,2017,...,10,19,Няшка_Хорус,2017,10,19,Вчера,2017,10,18
3,name,2011,2,23,name,2011,2,23,name,2011,...,2,23,name,2011,2,23,name,2011,2,23
4,name,2017,3,30,name,2017,3,30,name,2017,...,3,30,name,2017,3,30,name,2017,3,30
5,name,2017,4,29,name,2017,4,29,name,2017,...,4,29,name,2017,4,29,name,2017,4,29
6,name,2011,5,28,name,2011,5,28,name,2011,...,5,28,name,2011,5,28,name,2011,5,28
7,name,2014,12,10,name,2014,12,10,name,2014,...,12,10,name,2014,12,10,name,2014,12,10
8,name,2011,8,14,name,2011,8,14,name,2011,...,8,14,name,2011,8,14,name,2011,8,14
9,name,2022,10,1,name,2022,10,1,name,2022,...,10,1,name,2022,10,1,name,2022,10,1
10,name,2009,11,2,name,2009,11,2,name,2009,...,11,2,name,2009,11,2,name,2009,11,2
11,name,2021,12,11,name,2021,12,11,name,2021,...,12,11,name,2021,12,11,name,2021,12,11

In [61]:
Deadline['deadline'] = Deadline['deadline'].astype('datetime64[ns]')

ValueError: Error parsing datetime string "name" at position 0

In [63]:
import datetime as dp
Deadline['deadline'] = pd.to_datetime(Deadline['deadline'])

ValueError: Unknown string format

In [64]:
import pandas as pd
Deadline = pd.DataFrame({"source": ["name", "name", "Министерство_обороны","name","name",
                                    "name","name", "name", "name","name", "name", "name"],
                   "quest": ["name", "name", "Строительство_Варп_Портала","name","name",
                             "name","name", "name", "name","name", "name", "name"],
                   "order":["name", "name", "Федеральный_закон","name","name",
                            "name","name", "name", "name","name", "name", "name"],                   
                   "unit": ["name", "name", "Легионы_хаоса","name","name",
                            "name","name", "name", "name","name", "name", "name"],
                   "hero": ["name", "name", "Няшка_Хорус","name","name",
                            "name","name", "name", "name","name", "name", "name"],
                   "deadline": [ True, True, True,False, False, False,
                                False, True, True, True, False, False],
                   'source_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'source_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'source_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'quest_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'quest_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'quest_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'order_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'order_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'order_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'unit_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'unit_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'unit_day': [2,5,19,23,30,29,28,10,14,1,2,11],
                   'hero_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'hero_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'hero_day': [1,4,19,23,30,29,28,10,14,1,2,11],
                   'deadline_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'deadline_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'deadline_day': [4, 5,18,23,30,29,28,10,14,1,2,11],
                  })
Deadline = Deadline[['source','source_year','source_month','source_day',"quest",
                     'quest_year','quest_month','quest_day',"order",'order_year',
                     'order_month', 'order_day', "unit",'unit_year', 'unit_month',
                     'unit_day',"hero",'hero_year','hero_month','hero_day',"deadline",
                     'deadline_year','deadline_month','deadline_day']]
Deadline

,source,source_year,source_month,source_day,quest,quest_year,quest_month,quest_day,order,order_year,...,unit_month,unit_day,hero,hero_year,hero_month,hero_day,deadline,deadline_year,deadline_month,deadline_day
0,name,2015,2,4,name,2015,2,4,name,2015,...,2,2,name,2015,2,1,True,2015,2,4
1,name,2016,3,5,name,2016,3,5,name,2016,...,3,5,name,2016,3,4,True,2016,3,5
2,Министерство_обороны,2017,10,19,Строительство_Варп_Портала,2017,10,19,Федеральный_закон,2017,...,10,19,Няшка_Хорус,2017,10,19,True,2017,10,18
3,name,2011,2,23,name,2011,2,23,name,2011,...,2,23,name,2011,2,23,False,2011,2,23
4,name,2017,3,30,name,2017,3,30,name,2017,...,3,30,name,2017,3,30,False,2017,3,30
5,name,2017,4,29,name,2017,4,29,name,2017,...,4,29,name,2017,4,29,False,2017,4,29
6,name,2011,5,28,name,2011,5,28,name,2011,...,5,28,name,2011,5,28,False,2011,5,28
7,name,2014,12,10,name,2014,12,10,name,2014,...,12,10,name,2014,12,10,True,2014,12,10
8,name,2011,8,14,name,2011,8,14,name,2011,...,8,14,name,2011,8,14,True,2011,8,14
9,name,2022,10,1,name,2022,10,1,name,2022,...,10,1,name,2022,10,1,True,2022,10,1
10,name,2009,11,2,name,2009,11,2,name,2009,...,11,2,name,2009,11,2,False,2009,11,2
11,name,2021,12,11,name,2021,12,11,name,2021,...,12,11,name,2021,12,11,False,2021,12,11

In [65]:
Deadline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 24 columns):
source            12 non-null object
source_year       12 non-null int64
source_month      12 non-null int64
source_day        12 non-null int64
quest             12 non-null object
quest_year        12 non-null int64
quest_month       12 non-null int64
quest_day         12 non-null int64
order             12 non-null object
order_year        12 non-null int64
order_month       12 non-null int64
order_day         12 non-null int64
unit              12 non-null object
unit_year         12 non-null int64
unit_month        12 non-null int64
unit_day          12 non-null int64
hero              12 non-null object
hero_year         12 non-null int64
hero_month        12 non-null int64
hero_day          12 non-null int64
deadline          12 non-null bool
deadline_year     12 non-null int64
deadline_month    12 non-null int64
deadline_day      12 non-null int64
dtypes: bool(1), int64(18), object(5)
memory usage: 2.2+ KB

In [72]:
Deadline['deadline'] = Deadline["deadline"].astype("str")

In [73]:
Deadline

,source,source_year,source_month,source_day,quest,quest_year,quest_month,quest_day,order,order_year,...,unit_month,unit_day,hero,hero_year,hero_month,hero_day,deadline,deadline_year,deadline_month,deadline_day
0,name,2015,2,4,name,2015,2,4,name,2015,...,2,2,name,2015,2,1,True,2015,2,4
1,name,2016,3,5,name,2016,3,5,name,2016,...,3,5,name,2016,3,4,True,2016,3,5
2,Министерство_обороны,2017,10,19,Строительство_Варп_Портала,2017,10,19,Федеральный_закон,2017,...,10,19,Няшка_Хорус,2017,10,19,True,2017,10,18
3,name,2011,2,23,name,2011,2,23,name,2011,...,2,23,name,2011,2,23,False,2011,2,23
4,name,2017,3,30,name,2017,3,30,name,2017,...,3,30,name,2017,3,30,False,2017,3,30
5,name,2017,4,29,name,2017,4,29,name,2017,...,4,29,name,2017,4,29,False,2017,4,29
6,name,2011,5,28,name,2011,5,28,name,2011,...,5,28,name,2011,5,28,False,2011,5,28
7,name,2014,12,10,name,2014,12,10,name,2014,...,12,10,name,2014,12,10,True,2014,12,10
8,name,2011,8,14,name,2011,8,14,name,2011,...,8,14,name,2011,8,14,True,2011,8,14
9,name,2022,10,1,name,2022,10,1,name,2022,...,10,1,name,2022,10,1,True,2022,10,1
10,name,2009,11,2,name,2009,11,2,name,2009,...,11,2,name,2009,11,2,False,2009,11,2
11,name,2021,12,11,name,2021,12,11,name,2021,...,12,11,name,2021,12,11,False,2021,12,11

In [74]:
Deadline['deadline'] = pd.to_datetime(Deadline['deadline'])

ValueError: Unknown string format

In [81]:
import pandas as pd
Deadline = pd.DataFrame({"source": ["name", "name", "Министерство_обороны","name","name",
                                    "name","name", "name", "name","name", "name", "name"],
                   "quest": ["name", "name", "Строительство_Варп_Портала","name","name",
                             "name","name", "name", "name","name", "name", "name"],
                   "order":["name", "name", "Федеральный_закон","name","name",
                            "name","name", "name", "name","name", "name", "name"],                   
                   "unit": ["name", "name", "Легионы_хаоса","name","name",
                            "name","name", "name", "name","name", "name", "name"],
                   "hero": ["name", "name", "Няшка_Хорус","name","name",
                            "name","name", "name", "name","name", "name", "name"],
                   "deadline": [ '2012-05-01', '2012-05-02', '2012-05-03','2012-05-01',
                                '2012-05-02', '2012-05-03','2012-05-01', '2012-05-02',
                                '2012-05-03','2012-05-01', '2012-05-02', '2012-05-03'],
                   'source_time': [ '2012-05-01', '2012-05-02', '2012-05-03','2012-05-01',
                                '2012-05-02', '2012-05-03','2012-05-01', '2012-05-02',
                                '2012-05-03','2012-05-01', '2012-05-02', '2012-05-03'],
                   'quest_time': [ '2012-05-01', '2012-05-02', '2012-05-03','2012-05-01',
                                '2012-05-02', '2012-05-03','2012-05-01', '2012-05-02',
                                '2012-05-03','2012-05-01', '2012-05-02', '2012-05-03'],
                   'order_time': [ '2012-05-01', '2012-05-02', '2012-05-03','2012-05-01',
                                '2012-05-02', '2012-05-03','2012-05-01', '2012-05-02',
                                '2012-05-03','2012-05-01', '2012-05-02', '2012-05-03'],
                   'unit_time': [ '2012-05-01', '2012-05-02', '2012-05-03','2012-05-01',
                                '2012-05-02', '2012-05-03','2012-05-01', '2012-05-02',
                                '2012-05-03','2012-05-01', '2012-05-02', '2012-05-03'],
                   'hero_time': [ '2012-05-01', '2012-05-02', '2012-05-03','2012-05-01',
                                '2012-05-02', '2012-05-03','2012-05-01', '2012-05-02',
                                '2012-05-03','2012-05-01', '2012-05-02', '2012-05-03'],
                   'deadline_time': [ '2012-05-01', '2012-05-02', '2012-05-03','2012-05-01',
                                '2012-05-02', '2012-05-03','2012-05-01', '2012-05-02',
                                '2012-05-03','2012-05-01', '2012-05-02', '2012-05-03'],
                  })

In [80]:
Deadline

,deadline,deadline_year,hero,hero_time,order,order_time,quest,quest_time,source,source_time,unit,unit_time
0,2012-05-01,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01
1,2012-05-02,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02
2,2012-05-03,2012-05-03,Няшка_Хорус,2012-05-03,Федеральный_закон,2012-05-03,Строительство_Варп_Портала,2012-05-03,Министерство_обороны,2012-05-03,Легионы_хаоса,2012-05-03
3,2012-05-01,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01
4,2012-05-02,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02
5,2012-05-03,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03
6,2012-05-01,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01
7,2012-05-02,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02
8,2012-05-03,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03
9,2012-05-01,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01,name,2012-05-01
10,2012-05-02,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02,name,2012-05-02
11,2012-05-03,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03,name,2012-05-03

In [1]:
import pandas as pd
Deadline = pd.DataFrame({"source": ["name", "name", "Министерство_обороны","name","name",
                                    "name","name", "name", "name","name", "name", "name"],
                   "quest": ["name", "name", "Строительство_Варп_Портала","name","name",
                             "name","name", "name", "name","name", "name", "name"],
                   "order":["name", "name", "Федеральный_закон","name","name",
                            "name","name", "name", "name","name", "name", "name"],                   
                   "unit": ["name", "name", "Легионы_хаоса","name","name",
                            "name","name", "name", "name","name", "name", "name"],
                   "hero": ["name", "name", "Няшка_Хорус","name","name",
                            "name","name", "name", "name","name", "name", "name"],
                   "deadline": [ True, True, True,False, False, False,
                                False, True, True, True, False, False],
                   'source_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'source_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'source_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'quest_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'quest_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'quest_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'order_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'order_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'order_day': [4, 5,19,23,30,29,28,10,14,1,2,11],
                   'unit_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'unit_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'unit_day': [2,5,19,23,30,29,28,10,14,1,2,11],
                   'hero_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'hero_month': [2, 3,10,2,3,4,5,12,8,10,11,12], 
                         'hero_day': [1,4,19,23,30,29,28,10,14,1,2,11],
                   'deadline_year': [2015, 2016, 2017,2011, 2017,2017, 2011,2014,2011,2022,2009,2021],
                         'deadline_month': [2, 3,10,2,3,4,5,12,8,10,11,12],
                         'deadline_day': [4, 5,18,23,30,29,28,10,14,1,2,11],
                  })
Deadline = Deadline[['source','source_year','source_month','source_day',"quest",
                     'quest_year','quest_month','quest_day',"order",'order_year',
                     'order_month', 'order_day', "unit",'unit_year', 'unit_month',
                     'unit_day',"hero",'hero_year','hero_month','hero_day',"deadline",
                     'deadline_year','deadline_month','deadline_day']]
Deadline

,source,source_year,source_month,source_day,quest,quest_year,quest_month,quest_day,order,order_year,...,unit_month,unit_day,hero,hero_year,hero_month,hero_day,deadline,deadline_year,deadline_month,deadline_day
0,name,2015,2,4,name,2015,2,4,name,2015,...,2,2,name,2015,2,1,True,2015,2,4
1,name,2016,3,5,name,2016,3,5,name,2016,...,3,5,name,2016,3,4,True,2016,3,5
2,Министерство_обороны,2017,10,19,Строительство_Варп_Портала,2017,10,19,Федеральный_закон,2017,...,10,19,Няшка_Хорус,2017,10,19,True,2017,10,18
3,name,2011,2,23,name,2011,2,23,name,2011,...,2,23,name,2011,2,23,False,2011,2,23
4,name,2017,3,30,name,2017,3,30,name,2017,...,3,30,name,2017,3,30,False,2017,3,30
5,name,2017,4,29,name,2017,4,29,name,2017,...,4,29,name,2017,4,29,False,2017,4,29
6,name,2011,5,28,name,2011,5,28,name,2011,...,5,28,name,2011,5,28,False,2011,5,28
7,name,2014,12,10,name,2014,12,10,name,2014,...,12,10,name,2014,12,10,True,2014,12,10
8,name,2011,8,14,name,2011,8,14,name,2011,...,8,14,name,2011,8,14,True,2011,8,14
9,name,2022,10,1,name,2022,10,1,name,2022,...,10,1,name,2022,10,1,True,2022,10,1
10,name,2009,11,2,name,2009,11,2,name,2009,...,11,2,name,2009,11,2,False,2009,11,2
11,name,2021,12,11,name,2021,12,11,name,2021,...,12,11,name,2021,12,11,False,2021,12,11

In [2]:
Deadline['deadline'] = pd.to_datetime(Deadline['deadline'])

TypeError: <class 'bool'> is not convertible to datetime

In [5]:
Deadline['deadline'] = Deadline['quest_year'].astype(str) + '-' + Deadline['quest_month'].astype(str) + '-' + Deadline['quest_day'].astype(str)

In [6]:
Deadline['deadline']

0       2015-2-4
1       2016-3-5
2     2017-10-19
3      2011-2-23
4      2017-3-30
5      2017-4-29
6      2011-5-28
7     2014-12-10
8      2011-8-14
9      2022-10-1
10     2009-11-2
11    2021-12-11
Name: deadline, dtype: object

In [ ]:
Менее костыльно

df['time'] = df[['year', 'month', 'day']].apply(lambda x: '-'.join(x), axis=1)

Имена  столбцов соответсвенно можно заранее загнать в список и передавать его

In [ ]:
Andrey, [21.10.17 22:05]

>>> a = ["hello", "world", "one"]
>>> b = "sadjefiwdsuhoneewlloasdk"
>>> any(x in b for x in a)
True

Бу, [21.10.17 22:34]
Где мой кустик

In [ ]:
df['deadline'] = (df['year'] > curr_year) & (df['month']> curr_year & (df['day'] > curr_year)).atype(int)

In [3]:
Deadline['deadline'] = Deadline['quest_year'].astype(str) + '-' + Deadline['quest_month'].astype(str) + '-' + Deadline['quest_day'].astype(str)

In [4]:
Deadline['deadline']

0       2015-2-4
1       2016-3-5
2     2017-10-19
3      2011-2-23
4      2017-3-30
5      2017-4-29
6      2011-5-28
7     2014-12-10
8      2011-8-14
9      2022-10-1
10     2009-11-2
11    2021-12-11
Name: deadline, dtype: object

In [10]:
deadline['deadline'] = (deadline['year'] > curr_year) & (deadline['month']> curr_year & (deadline['day'] > curr_year)).atype(int)

NameError: name 'deadline' is not defined